---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-cppcoreguidelines-*'
WarningsAsErrors: '1'
HeaderFilterRegex: 'hpp'
FormatStyle:     none
