---
BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
---
Language: Cpp
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
UseTab: Never
...
