---
Language: Cpp
BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
TabWidth:        2
UseTab:          Never
...
